body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#pokemonSprite{
    justify-content: center;
    display: none;
    margin: 20px auto;
    width: 50vh;
}

#errorMessage {
    color: red;
}

#pokemonName {
    border-radius: 10px;
    padding: 10px 15px;
    font-size: 20px;
    border: 2px solid black;
    margin-right: 20px;
}

#submitBtn {
    border-radius: 10px;
    padding: 10px 15px;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 20px;
    border: none;
}

#submitBtn:active {
    background-color: yellow;
    color: black;
}