body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  border-radius: 15px;
  overflow: hidden;
  background-color: hsl(0, 0%, 5%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  text-align: left;
  border: none;
  background-color: hsl(0, 0%, 10%);
  color: white;
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: yellow;
  color: black;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

button:hover {
    background-color: blue;
    color: white;
}

button:active {
    background-color: blueviolet;
}