body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    text-align: center;
}

#container {
    margin-top: 30px;
    display: inline-block;
    border: 2px solid black;
    padding: 40px 100px;
    font-size: 60px;
    border-radius: 10px;
}

button {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    margin-top: 50px;
    cursor: pointer;
    background-color: black;
    color: white;
}

button:active {
    background-color: yellow;
    color: black;
}

#display {
    font-family: monospace;
}